#intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#intro .greeting {
  font-size: 4em;
  margin: 20px;
  text-align: center;
}

#intro .name {
  color: red;
  font-weight: bold;
}

#intro .description {
  font-size: 2em;
  text-align: center;
}

.link {
  padding: 30px 20px;
  font-size: 60px;
  color: white;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.link:hover {
  color: red;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
